
* {box-sizing: border-box}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: snow;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
}

.promo.container {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* -------------------------------- Navigation Bar -----------------------------------*/
.NavigBar { 
    background: transparent;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    text-align: justify;
    color: black;         
}
.NavigBar li {
    float:right;    
}

.NavigBar li a {
    float:left;
    display: block;
    font-size: 18px;
    background-color: transparent;
    text-transform: uppercase;  
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black; 
}
    

.NavigBar li a:hover {
    color:dimgrey;
}

.Logo {
    text-decoration: none;
    float:right;
   
}

/* -----------------------------Side Navigation Bar Content Style -----------------------------------*/
.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 200px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25wv;
  color: snow;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* -------------------------------- Promotion Photo -----------------------------------*/

.content {
    height = 10%;
    padding=0;
    margin = 0;
}


.promophoto {
  /* The image used */

  /* Full height */
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* -------------------------------- Logo -----------------------------------*/
.Logo {
    float : left;
    display: block;
    padding: 14px 16px;
}

/* -------------------------------- Navigation Bar -----------------------------------*/
.NavigBar { 
    background: transparent;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    text-align: justify;
    color: black;    
}
.NavigBar li {
    float:right;   

}

.NavigBar li a {
    float:left;
    display: block;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase; 
    font-size: 16px;
    letter-spacing: .09px;
    background-color: transparent;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black; 
}
    

.NavigBar li a:hover {
    color:dimgrey;
}

/* -------------------------------- Slide Show -----------------------------------*/

.promophoto {display: none}

/* Next & previous buttons */
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  height:100%;
  padding: 25% 30px;
  color: dimgray;
  font-weight: bold;
  font-size: 30px;
  user-select: none;
  text-align: center;
}


/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: snow;
  opacity:0.3;
}

/* Caption text */
.text {
    color: black;  
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:50%;
    width:10%;
    text-align: center;
}

.text.dark {
    color:snow;
}

.button {
    padding:16px;
    background-color: snow;
    color:black;
    text-decoration: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:60%;
    width:10%;
    text-align:center;
    border-radius: 25px;
    transition: 1s;
}

.button.dark {
    color:snow;
    background-color: black;
}

.button:hover {
    background-color: black;
    color:snow;    
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  transition: background-color 0.6s ease;
  position: absolute;
  margin:0;
  right:0;
  left:0;
    
}

.active, .dot:hover {
}


.Separator {
    font-size: 30px;
    height: 150px;
    margin-bottom: 16px;
    padding:16px;
    padding-top: 50px;   
    width: 100%;
    left:0;
    top 50%;
    text-align: center;
    color:black;
    
}

.Galery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;
  margin: 30px
}

.columns {
  flex: 50%;
  padding: 0 16px;
}

.columns img {
  margin-top: 20px;
  vertical-align: middle;
  width:100%;
}

.Name {  
    padding:16px;
    color:black;
    text-decoration: none;
    margin: 0 auto;
    left: 50%;
    top:50%;
    right: 0;
    width:10%;
    text-align:center;
    border-radius: 25px;
    transition: 1s;
    
}

.Image {
    margin:10px;
}

.Image :hover {
    opacity = 50%;
    
}


.footer {
    background: snow;
    height:50px;
    padding = 12px;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

